
/* START: Enlargens emoji's globally */
div div div[role='button'] .emoji {
  width: var(--emoji-reaction-size) !important;
  height: var(--emoji-reaction-size) !important;
  margin: 2px 0 !important;
}

.emoji,
.emote {
  width: var(--emoji-inline-size) !important;
  height: var(--emoji-inline-size) !important;
}

.emoji.jumboable {
  width: var(--emoji-jumbo-size) !important;
  height: var(--emoji-jumbo-size) !important;
}

.da-emojiPicker .da-listWrapper,
.emojiPicker-3m1S-j .scroller-3vODG7 {
  /* Makes emoji picker larger */
  height: var(--emoji-picker-height) !important;
}

/* END: Enlargens emoji's globally */

/* Increases the size of the edit comment box */
.da-channelTextArea .da-webkit,
.channelTextArea-rNsIhG .webkit-HjD9Er {
  max-height: calc(100vh - 280px) !important;
}

/* START: Adjusted whitespace in channel list sidebar (compactified, but comfy) */
.da-content .da-listWrapper,
.content-98HsJk .sidebar-2K8pFh {
  width: var(--channel-list-width) !important;
  /* Makes the sidebar slightly narrower */
}

.da-sidebar .da-scroller,
.sidebar-2K8pFh .scroller-3vODG7 {
  padding-top: 6px;
}

.da-containerDefault,
.containerDefault-3GGEv_ {
  padding-top: 0px !important;
}

.da-containerDefault .da-collapsed,
.containerDefault-3GGEv_ .collapsed-1GMuSb {
  padding-top: 6px !important;
}

.da-containerDefault .da-wrapper .da-content,
.containerDefault-3GGEv_ .wrapper-1Rf91z .content-98HsJk {
  height: 28px !important;
}

.da-containerDefault .da-wrapper,
.containerDefault-3GGEv_ .wrapper-1Rf91z {
  height: 32px !important;
}

.da-containerDefault .da-wrapper.da-collapsed .da-icon,
.containerDefault-3GGEv_ .wrapper-1Rf91z.collapsed-1GMuSb .icon-27yU2q {
  top: 13px !important;
}

.da-containerDefault .da-wrapper .da-icon,
.containerDefault-3GGEv_ .wrapper-1Rf91z .icon-27yU2q {
  top: 10px !important;
}

.da-children .da-addButton,
.children-13TY0l .addButton-1BORro {
  height: 20px !important;
}

/* END: Adjusted whitespace in channel list sidebar */

/* START: Font adjustments (changes to Slack-Lato font) */
body {
  font-family: var(--global-fonts) !important;
}

div.da-name,
div.name-3YKhmS {
  font-size: 14.5px;
  line-height: 18px;
}

div.da-item,
div.item-2hkk8m {
  font-size: 15px;
  line-height: 18px;
}

.da-layout .da-content,
.layout-2DM8Md .content-98HsJk {
  overflow: visible;
}

.da-contents .da-timestamp,
.content-98HsJk .timestamp-3ZCmNB {
  font-size: 0.75rem !important;
}

.da-contents .da-header .da-username,
.da-contents .da-messageContent,
.content-98HsJk .header-2o-2hj .username-1A8OIy,
.content-98HsJk .messageContent-2qWWxC {
  font-size: 0.94rem !important;
}

/* END: Font adjustments (changes to Slack-Lato font) */

/* START: Context menu adjustments */
/* (Mostly only needed if you have "Copy Selector"option enabled) */
.da-contextMenu .da-itemGroup>.da-item,
.contextMenu-HLZMGh .itemGroup-1tL0uz>.item-1Yvehc {
  position: relative;
  font-weight: 500;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 0 8px;
  font-size: 14px;
  line-height: 18px;
  min-height: 28px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 2px;
  color: var(--interactive-normal);
}

.da-contextMenu .da-itemGroup>.da-item:hover,
.contextMenu-HLZMGh .itemGroup-1tL0uz>.item-1Yvehc:hover {
  color: var(--interactive-hover);
  background-color: var(--background-modifier-hover);
  cursor: pointer;
}

.da-contextMenu,
.contextMenu-HLZMGh {
  padding: 1px 4px;
}

body div .da-layerContainer .da-layer,
body div .layerContainer-yqaFcK .layer-v9HyYc {
  margin-top: -30px;
}
/* END: Context menu adjustments */

/* START: Adjusts message area, adds subtle divider */
.group-spacing-16 .da-groupStart:after,
.group-spacing-16 .groupStart-23k01U:after {
  content: "";
  border-top: 1px #6662 solid;
  position: absolute;
  top: 0;
  left: 1rem;
  height: 1px;
  width: calc(100% - 1.875rem);
}

.group-spacing-16 .da-groupStart,
.group-spacing-16 .groupStart-23k01U {
  padding-top: .5rem;
  margin-top: .5rem;
}

.group-spacing-16 .hasContent-1_DUdQ,
.group-spacing-16 .default-1mVZrv,
.group-spacing-16 .beforeGroup-1rH1F0 {
  margin-bottom: 0;
  top: 0.5rem;
}

.group-spacing-16 .da-avatar,
.group-spacing-16 .avatar-1BDn8e {
  top: 0.65rem;
}
/* END: Adjusts message area, adds subtle divider */

/* Makes scrollbars darker to increase visibility */
*::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .3) !important;
}

/* Makes Inline code background darker to increase visibility */
code.inline {
  background: #0000004a !important;
}

/* Darkens the secondary background colors globally to improve contrast */
.theme-dark {
  --background-secondary: #27292e !important;
  --background-secondary-alt: #202225 !important;
  --background-primary: #33353d;
  --channeltextarea-background: #3f434b;
}

.theme-dark .scrollerThemed-2oenus.themedWithTrack-q8E3vB .scroller-2FKFPG::-webkit-scrollbar-track-piece {
  background-color: #2f3136;
  border: 3px solid #363941;
}

/* START: Changes for light mode (minimal) */
.theme-light .da-sidebarRegion:not(.theme-dark),
.theme-light .da-container .da-sidebar:not(.theme-dark),
.theme-light .sidebarRegion-VFTUkN:not(.theme-dark),
.theme-light .container-2lgZY8 .sidebar-2K8pFh:not(.theme-dark),
.theme-light .membersWrap-2h-GB4, 
.theme-light .da-membersWrap,
.theme-light .chat-3bRxxu .title-3qD0b-, 
.theme-light .da-chat .da-title {
    --header-primary: #060607;
    --header-secondary: #4f5660;
    --text-normal: #22262c;
    --text-link: #0067e0;
    --channels-default: #6a7480;
    --interactive-normal: #4f5660;
    --interactive-hover: #2e3338;
    --interactive-active: #000205;
    --interactive-muted: #c7ccd1;
    --background-primary: #fff;
    --background-secondary: #e8e9ed;
    --background-secondary-alt: rgba(116,127,141,0.24);
    --background-accent: #747f8d;
}
.theme-light {
    --background-tertiary: #c3c4c9;
    --text-muted: #444f5d !important;
}
/* Sets Server List and App Title Bar to dark mode, can disable by including `--disable-dark-elem: 1;` */
.theme-light .da-bg,
.theme-light .da-typeWindows,
.theme-light .da-guilds {
    background: var(--disable-dark-elem, #202225) !important;
    --background-secondary: var(--disable-dark-elem, #27292e) !important;
    --background-secondary-alt: var(--disable-dark-elem, #202225) !important;
    --background-primary: var(--disable-dark-elem, #33353d);
    --channeltextarea-background: var(--disable-dark-elem, #3f434b);
    --header-primary: var(--disable-dark-elem, #fff);
    --header-secondary: var(--disable-dark-elem, #b9bbbe);
    --text-normal: var(--disable-dark-elem, #dcddde);
    --text-muted: var(--disable-dark-elem, #72767d);
    --text-link: var(--disable-dark-elem, #00b0f4);
    --channels-default: var(--disable-dark-elem, #8e9297);
    --interactive-normal: var(--disable-dark-elem, #b9bbbe);
    --interactive-hover: var(--disable-dark-elem, #dcddde);
    --interactive-active: var(--disable-dark-elem, #fff);
    --interactive-muted: var(--disable-dark-elem, #4f545c);
    --background-tertiary: var(--disable-dark-elem, #202225);
    --background-accent: var(--disable-dark-elem, #4f545c);
    --background-floating: var(--disable-dark-elem, #18191c);
    --background-modifier-hover: var(--disable-dark-elem, rgba(79,84,92,0.16));
    --background-modifier-active: var(--disable-dark-elem, rgba(79,84,92,0.24));
    --background-modifier-selected: var(--disable-dark-elem, rgba(79,84,92,0.32));
    --background-modifier-accent: var(--disable-dark-elem, hsla(0,0%,100%,0.06));
    --background-mentioned: var(--disable-dark-elem, rgba(250,166,26,0.05));
    --background-mentioned-hover: var(--disable-dark-elem, rgba(250,166,26,0.08));
    --background-message-hover: var(--disable-dark-elem, rgba(4,4,5,0.07));
    --logo-primary: var(--disable-dark-elem, #fff);
    --guild-header-text-shadow: var(--disable-dark-elem, 0 1px 1px rgba(0,0,0,0.4));
}
/* END: Changes for light mode (minimal) */
